.region.right .MMM-MySchoolMenus {
    float: right;
    color: var(--dynamic-text-color);
}

.MMM-MySchoolMenus {

}

.MMM-MySchoolMenus .menu-day {

}

.MMM-MySchoolMenus .menu-day .menu-date {
    display: block;
    font-weight: bold;
}

.MMM-MySchoolMenus .menu-day .menu {
    display: block;
}

.MMM-MySchoolMenus .menu-day .menu.today {
    font-weight: bold;
}

.MMM-MySchoolMenus .menu-day .menu .menu-name {
    font-weight: bold;
}

.MMM-MySchoolMenus .menu-day .menu .menu-items {

}
